@media (max-width: 1024px) {
  .header-container {
    width: 90%;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 35px;
  }

  .banner-container p {
    font-size: 21px;
  }
  .banner-container .banner-img img {
    width: 90%;
  }

  .about-container {
    width: 90%;
  }

  .values-container {
    width: 90%;
  }
}

@media (max-width: 990px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 35px;
  }

  .banner-container p {
    font-size: 21px;
  }
  .banner-container .banner-img img {
    width: 90%;
  }
  .about-container {
    width: 90%;
  }

  .values-container {
    width: 90%;
  }
}

@media (max-width: 926px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 27px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
  }
  .about-container {
    width: 90%;
  }

  .values-container {
    width: 90%;
  }

  .about-img img {
    width: 400px;
  }
}

@media (max-width: 831px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 27px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
  }
  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .values-container {
    width: 90%;
  }

  .about-img img {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 27px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-box img {
    width: 50%;
  }

  .values-box h3 {
    font-size: 25px;
  }

  .values-box p {
    font-size: 16px;
  }
}

@media (max-width: 713px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }
  .banner-container {
    width: 90%;
  }

  h1 {
    font-size: 27px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 30px;
  }

  .values-box img {
    width: 40%;
  }

  .values-box h3 {
    font-size: 25px;
  }

  .values-box p {
    font-size: 16px;
  }
}

@media (max-width: 641px) {
  .header-container {
    width: 90%;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 30px;
  }

  .values-box img {
    width: 40%;
  }

  .values-box h3 {
    font-size: 25px;
  }

  .values-box p {
    font-size: 16px;
  }
}

@media (max-width: 577px) {
  .header-container {
    width: 90%;
  }

  .banner-container button {
    padding: 12px 34px;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 30px;
  }

  .values-box img {
    width: 40%;
  }

  .values-box h3 {
    font-size: 25px;
  }

  .values-box p {
    font-size: 16px;
  }
}

@media (max-width: 481px) {
  .header-container {
    width: 90%;
  }

  .banner-container button {
    padding: 12px 34px;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-text h2 {
    font-size: 20px;
  }

  .about-text button {
    padding: 10px 30px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 24px;
  }

  .values-box img {
    width: 40%;
  }

  .values-box h3 {
    font-size: 24px;
  }

  .values-box p {
    font-size: 16px;
  }
}

@media (max-width: 361px) {
  .header-container {
    width: 90%;
  }

  .banner-container button {
    padding: 10px 30px;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 24px;
  }

  .banner-container p {
    font-size: 17px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-text h2 {
    font-size: 18px;
  }

  .about-text h3 {
    font-size: 12px;
  }

  .about-text button {
    padding: 10px 30px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 18px;
  }

  .values-subhead {
    font-size: 13px;
  }

  .values-box img {
    width: 50%;
  }

  .values-box h3 {
    font-size: 18px;
  }

  .values-box p {
    font-size: 14px;
  }
}

@media (max-width: 321px) {
  .header-container {
    width: 90%;
  }

  .banner-container button {
    padding: 9px 20px;
    font-size: 14px;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
    font-size: 25px;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
    line-height: 60px;
    padding-bottom: 20px;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  .banner-container p {
    font-size: 14px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-text h2 {
    font-size: 18px;
  }

  .about-text h3 {
    font-size: 12px;
  }

  .about-text button {
    padding: 9px 20px;
    font-size: 14px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 16px;
  }

  .values-subhead {
    font-size: 12px;
  }

  .values-box img {
    width: 50%;
  }

  .values-box h3 {
    font-size: 18px;
  }

  .values-box p {
    font-size: 14px;
  }
}

@media (max-width: 281px) {
  .header-container {
    width: 90%;
  }

  .banner-container button {
    padding: 9px 20px;
    font-size: 14px;
  }
  /* navbar toggler */
  .chkbtn {
    display: block;
    font-size: 25px;
  }

  .menu ul li {
    display: block;
    text-align: center;
  }

  .menu ul li a {
    color: #ffffff;
  }

  .menu ul {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: #4154f1;
    transition: 1s;
    line-height: 60px;
    padding-bottom: 20px;
  }

  #check:checked ~ .menu ul {
    left: 0;
  }

  .banner-container {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  .banner-container p {
    font-size: 14px;
  }

  .banner-container .banner-img img {
    width: 90%;
    margin-top: 50px;
  }

  .about-container {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .about-text h2 {
    font-size: 18px;
  }

  .about-text h3 {
    font-size: 12px;
  }

  .about-text button {
    padding: 9px 20px;
    font-size: 14px;
  }

  .about-img img {
    width: 100%;
  }

  .values-container {
    width: 90%;
    gap: 30px;
    flex-direction: column;
  }

  .values-head {
    font-size: 13px;
  }

  .values-subhead {
    font-size: 10px;
  }

  .values-box img {
    width: 50%;
  }

  .values-box h3 {
    font-size: 15px;
  }

  .values-box p {
    font-size: 12px;
  }
}
